In [1]:
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
def say_something(something):
    print(something)

In [4]:
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [7]:
passing_math_count = 29370
total_student_count = 39170
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [8]:
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [15]:
my_grades = ['B', 'C', 'B' , 'D']
my_grades

['B', 'C', 'B', 'D']

In [10]:
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [18]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object